<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aybuke.qrcard" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Registeration"
            android:label="@string/title_activity_registeration"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".qr_create"
            android:label="@string/title_activity_qr_create"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".qr_read"
            android:label="@string/title_activity_qr_read"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".qr_code_page"
            android:label="@string/title_activity_qr_code_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
